.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.002930;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-1.855285px;}
._0{width:1.440000px;}
._2{width:2.836542px;}
._3{width:3.915684px;}
._1{width:5.163665px;}
.fc4{color:rgb(0,0,0);}
.fc0{color:rgb(57,106,241);}
.fc1{color:rgb(229,224,223);}
.fc2{color:rgb(39,37,37);}
.fc3{color:rgb(5,99,193);}
.fs2{font-size:60.000000px;}
.fs3{font-size:72.000000px;}
.fs5{font-size:170.679993px;}
.fs1{font-size:237.039978px;}
.fs0{font-size:284.440002px;}
.fs4{font-size:323.239990px;}
.y0{bottom:0.000000px;}
.y16{bottom:55.987946px;}
.y29{bottom:60.810638px;}
.y15{bottom:87.099945px;}
.y28{bottom:96.810638px;}
.y26{bottom:123.063072px;}
.y9{bottom:135.012482px;}
.y27{bottom:135.779808px;}
.y14{bottom:144.741280px;}
.y3a{bottom:145.702972px;}
.y41{bottom:150.895996px;}
.y39{bottom:167.302963px;}
.y8{bottom:171.012482px;}
.y13{bottom:172.001274px;}
.y40{bottom:172.496002px;}
.y30{bottom:174.001404px;}
.y38{bottom:188.902954px;}
.y3f{bottom:194.095993px;}
.y12{bottom:199.261276px;}
.y7{bottom:207.012482px;}
.y37{bottom:210.502968px;}
.y3e{bottom:215.695999px;}
.y11{bottom:226.521275px;}
.y2f{bottom:230.727051px;}
.y36{bottom:232.102974px;}
.y3d{bottom:237.296005px;}
.y25{bottom:240.111359px;}
.y47{bottom:240.622047px;}
.y44{bottom:241.401764px;}
.y6{bottom:243.012482px;}
.y10{bottom:247.643311px;}
.y35{bottom:253.702980px;}
.y3c{bottom:258.896011px;}
.y46{bottom:262.222054px;}
.y43{bottom:263.001770px;}
.y24{bottom:276.111359px;}
.y2e{bottom:296.229683px;}
.y5{bottom:296.383240px;}
.y34{bottom:296.902979px;}
.y3b{bottom:302.096010px;}
.y45{bottom:305.422050px;}
.y42{bottom:306.201769px;}
.y22{bottom:306.527916px;}
.y23{bottom:315.034874px;}
.y33{bottom:359.644302px;}
.y4{bottom:367.495239px;}
.yf{bottom:396.597504px;}
.y54{bottom:402.452087px;}
.y21{bottom:432.021210px;}
.ye{bottom:432.597504px;}
.y2b{bottom:432.903099px;}
.y1c{bottom:434.456573px;}
.y3{bottom:438.607224px;}
.y53{bottom:461.652100px;}
.y20{bottom:468.021210px;}
.yd{bottom:468.597504px;}
.y1b{bottom:470.456573px;}
.y2d{bottom:474.979877px;}
.y52{bottom:483.252106px;}
.y2c{bottom:492.979874px;}
.y4d{bottom:494.265892px;}
.yc{bottom:504.597504px;}
.y51{bottom:504.852104px;}
.y1e{bottom:505.912651px;}
.y1a{bottom:506.456573px;}
.y2{bottom:509.719223px;}
.y32{bottom:510.823037px;}
.y1f{bottom:513.053154px;}
.y4c{bottom:523.865883px;}
.y50{bottom:526.452103px;}
.yb{bottom:540.597504px;}
.y19{bottom:542.456573px;}
.y2a{bottom:543.817196px;}
.y4f{bottom:548.052101px;}
.y4b{bottom:553.465881px;}
.y31{bottom:558.307777px;}
.y4a{bottom:575.065880px;}
.y4e{bottom:577.652100px;}
.y18{bottom:578.456573px;}
.ya{bottom:580.874344px;}
.y1{bottom:583.528542px;}
.y49{bottom:604.665878px;}
.y1d{bottom:621.575890px;}
.y17{bottom:629.665863px;}
.y48{bottom:650.332979px;}
.h4{height:43.681641px;}
.ha{height:51.679688px;}
.h5{height:52.417969px;}
.h3{height:53.789062px;}
.h9{height:59.378906px;}
.h8{height:64.546875px;}
.h7{height:124.259702px;}
.h2{height:172.571586px;}
.h1{height:207.080099px;}
.h6{height:235.327551px;}
.h0{height:720.000000px;}
.w0{width:1280.000000px;}
.x0{left:0.000000px;}
.x5{left:39.754730px;}
.x6{left:49.222992px;}
.x1{left:70.407410px;}
.x2{left:99.339584px;}
.x17{left:125.894897px;}
.x11{left:163.894806px;}
.x4{left:168.661041px;}
.x3{left:170.506958px;}
.x13{left:171.792450px;}
.x12{left:173.118958px;}
.x14{left:362.202026px;}
.x8{left:440.088440px;}
.x7{left:445.201111px;}
.xe{left:451.127842px;}
.xa{left:455.293091px;}
.x10{left:458.654999px;}
.x9{left:500.859619px;}
.xf{left:503.000702px;}
.x15{left:551.956055px;}
.xb{left:632.058811px;}
.xd{left:635.282776px;}
.xc{left:683.931641px;}
.x16{left:692.370300px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-2.473714pt;}
._0{width:1.920000pt;}
._2{width:3.782055pt;}
._3{width:5.220911pt;}
._1{width:6.884886pt;}
.fs2{font-size:80.000000pt;}
.fs3{font-size:96.000000pt;}
.fs5{font-size:227.573324pt;}
.fs1{font-size:316.053304pt;}
.fs0{font-size:379.253337pt;}
.fs4{font-size:430.986654pt;}
.y0{bottom:0.000000pt;}
.y16{bottom:74.650594pt;}
.y29{bottom:81.080851pt;}
.y15{bottom:116.133260pt;}
.y28{bottom:129.080851pt;}
.y26{bottom:164.084096pt;}
.y9{bottom:180.016642pt;}
.y27{bottom:181.039744pt;}
.y14{bottom:192.988373pt;}
.y3a{bottom:194.270630pt;}
.y41{bottom:201.194661pt;}
.y39{bottom:223.070618pt;}
.y8{bottom:228.016642pt;}
.y13{bottom:229.335032pt;}
.y40{bottom:229.994670pt;}
.y30{bottom:232.001872pt;}
.y38{bottom:251.870605pt;}
.y3f{bottom:258.794657pt;}
.y12{bottom:265.681702pt;}
.y7{bottom:276.016642pt;}
.y37{bottom:280.670624pt;}
.y3e{bottom:287.594666pt;}
.y11{bottom:302.028366pt;}
.y2f{bottom:307.636068pt;}
.y36{bottom:309.470632pt;}
.y3d{bottom:316.394674pt;}
.y25{bottom:320.148478pt;}
.y47{bottom:320.829397pt;}
.y44{bottom:321.869019pt;}
.y6{bottom:324.016642pt;}
.y10{bottom:330.191081pt;}
.y35{bottom:338.270640pt;}
.y3c{bottom:345.194682pt;}
.y46{bottom:349.629405pt;}
.y43{bottom:350.669027pt;}
.y24{bottom:368.148478pt;}
.y2e{bottom:394.972911pt;}
.y5{bottom:395.177653pt;}
.y34{bottom:395.870639pt;}
.y3b{bottom:402.794680pt;}
.y45{bottom:407.229401pt;}
.y42{bottom:408.269025pt;}
.y22{bottom:408.703888pt;}
.y23{bottom:420.046499pt;}
.y33{bottom:479.525736pt;}
.y4{bottom:489.993652pt;}
.yf{bottom:528.796672pt;}
.y54{bottom:536.602783pt;}
.y21{bottom:576.028280pt;}
.ye{bottom:576.796672pt;}
.y2b{bottom:577.204132pt;}
.y1c{bottom:579.275431pt;}
.y3{bottom:584.809631pt;}
.y53{bottom:615.536133pt;}
.y20{bottom:624.028280pt;}
.yd{bottom:624.796672pt;}
.y1b{bottom:627.275431pt;}
.y2d{bottom:633.306503pt;}
.y52{bottom:644.336141pt;}
.y2c{bottom:657.306498pt;}
.y4d{bottom:659.021189pt;}
.yc{bottom:672.796672pt;}
.y51{bottom:673.136139pt;}
.y1e{bottom:674.550201pt;}
.y1a{bottom:675.275431pt;}
.y2{bottom:679.625631pt;}
.y32{bottom:681.097383pt;}
.y1f{bottom:684.070872pt;}
.y4c{bottom:698.487844pt;}
.y50{bottom:701.936137pt;}
.yb{bottom:720.796672pt;}
.y19{bottom:723.275431pt;}
.y2a{bottom:725.089595pt;}
.y4f{bottom:730.736135pt;}
.y4b{bottom:737.954508pt;}
.y31{bottom:744.410370pt;}
.y4a{bottom:766.754506pt;}
.y4e{bottom:770.202799pt;}
.y18{bottom:771.275431pt;}
.ya{bottom:774.499125pt;}
.y1{bottom:778.038055pt;}
.y49{bottom:806.221171pt;}
.y1d{bottom:828.767853pt;}
.y17{bottom:839.554484pt;}
.y48{bottom:867.110639pt;}
.h4{height:58.242188pt;}
.ha{height:68.906250pt;}
.h5{height:69.890625pt;}
.h3{height:71.718750pt;}
.h9{height:79.171875pt;}
.h8{height:86.062500pt;}
.h7{height:165.679602pt;}
.h2{height:230.095447pt;}
.h1{height:276.106799pt;}
.h6{height:313.770069pt;}
.h0{height:960.000000pt;}
.w0{width:1706.666667pt;}
.x0{left:0.000000pt;}
.x5{left:53.006307pt;}
.x6{left:65.630656pt;}
.x1{left:93.876546pt;}
.x2{left:132.452779pt;}
.x17{left:167.859863pt;}
.x11{left:218.526408pt;}
.x4{left:224.881388pt;}
.x3{left:227.342611pt;}
.x13{left:229.056600pt;}
.x12{left:230.825277pt;}
.x14{left:482.936035pt;}
.x8{left:586.784587pt;}
.x7{left:593.601481pt;}
.xe{left:601.503789pt;}
.xa{left:607.057454pt;}
.x10{left:611.539998pt;}
.x9{left:667.812826pt;}
.xf{left:670.667603pt;}
.x15{left:735.941406pt;}
.xb{left:842.745082pt;}
.xd{left:847.043701pt;}
.xc{left:911.908854pt;}
.x16{left:923.160400pt;}
}
